<h1>{{added}}</h1>
<!-- Toolbar -->
<router-outlet></router-outlet>
<input type="text" #text>
<button (click)="dbService.addTask(text.value)">Add task</button>
<ol>
  <li *ngFor="let item of list">
    {{item.task}}
    <button (click)="dbService.deleteTask(item.id)">-</button>
  </li>
</ol>

<div class="grid">
  <div class="box" [ngStyle]="{'background-color':item[0],'box-shadow':('0px 3px 20px rgba('+item[1][0]+','+item[1][1]+','+item[1][2]+',0.9)')}" *ngFor="let item of coloredDivs">
    
  </div>
</div>